<br>

    <img src="/images/bccsnlogo.jpg">

    <h1 align="center" color:"white">B.C. Cetacean Sightings Network</h1>

    <br>

    <div>

    <br>

    <h2 align="center">Report Sightings Online</h2>

    <p>Welcome to our online sighting form. The sightings you submit will be analyzed to gain valuable information about species distribution patterns and aid in future recovery and management plans for species at risk. Questions? Give us a shout at 1.866.I.SAW.ONE or send us an <a href="mailto:sightings@vanaqua.org">email.</a></p>

    <br>

    </div>

    <br>

    <div class="form">

    <br>

      <form method="POST" action="/login">

      <p><h3>Log in to submit a sighting:</h3></p>

      <div class="form-group">

        <label for="emaillogin">Email address</label>
        <input type="email" class="form-control" id="emaillogin" placeholder="Email">

      </div>

      <div class="form-group">
   
        <label for="passwordlogin">Password</label>
        <input type="password" class="form-control" id="passwordlogin" placeholder="Password">
  
      </div>

        <button type="button" class="btn btn-primary">Log In</button>

      </form>

      <br>

      <p class="signup">First time using the online report form? Sign up for an account <a href="signup.html">here</a>.</p>

      </div>

      <br>