<br>

    <img src="/images/bccsnlogo.jpg">

    <h1 align="center" color:"white">B.C. Cetacean Sightings Network</h1>

    <br>

    <div class="profileform">

    <h2 align="center">Observer Profile</h2>

      <form method="POST" action="/profile/edit">

      <div class="form-group">

        <label for="firstnameprof">First name</label>
        <input type="text" class="form-control" id="firstnameprof" placeholder="First name">

      </div>

      <div class="form-group">

        <label for="lastnameprof">Last name</label>
        <input type="text" class="form-control" id="lastnameprof" placeholder="Last name">

      </div>

      <div class="form-group">

        <label for="emailprof">Email address</label>
        <input type="email" class="form-control" id="emailprof" placeholder="Email">

      </div>

      <div class="form-group">
   
        <label for="passwordprof">Password</label>
        <input type="password" class="form-control" id="passwordprof" placeholder="Password">
  
      </div>

        <button type="button" class="btn btn-primary">Save</button>

      </form>

      <br>

      </div>