<br>

    <img src="/images/bccsnlogo.jpg">

    <h1 align="center" color:"white">B.C. Cetacean Sightings Network</h1>

    <br>

    <div class="profileform">

    <h2 align="center">Observer Profile</h2>

      <form method="POST" action="/profile/edit">

      <div class="form-group">

        <label for="firstnameprof">First name</label>
        <input type="text" class="form-control" id="firstname" placeholder="First name" name="firstname">

      </div>

      <div class="form-group">

        <label for="lastnameprof">Last name</label>
        <input type="text" class="form-control" id="lastnameprof" placeholder="Last name" name="lastname">

      </div>

      <div class="form-group">

        <label for="emailprof">Email address</label>
        <input type="email" class="form-control" id="username" placeholder="Email" name="username">

      </div>

      <div class="form-group">
   
        <label for="passwordprof">Password</label>
        <input type="password" class="form-control" id="passwordprof" placeholder="Password" name="password">
  
      </div>

        <input class="btn btn-primary" type="submit" value="Save" />

        <!--<button type="button" class="btn btn-primary">Save</button>-->

      </form>

      <br>

      </div>
      
      <br>
      <br>