<br>

    <img src="/images/bccsnlogo.jpg">

    <h1 align="center" color:"white">B.C. Cetacean Sightings Network</h1>

    <br>

    <div class="profileform">

    <h2 align="center">Create an Account</h2>

      <form method="POST" action="/signup">

      <div class="form-group">

        <label for="firstnamesignup">First name</label>
        <input type="text" class="form-control" id="firstnamesignup" placeholder="First name" required>

      </div>

      <div class="form-group">

        <label for="lastnamesignup">Last name</label>
        <input type="text" class="form-control" id="lastnamesignup" placeholder="Last name" required>

      </div>

      <div class="form-group">

        <label for="emailsignup">Email address</label>
        <input type="email" class="form-control" id="emailsignup" placeholder="Email" required>

      </div>

      <div class="form-group">

        <label for="phonesignup">Phone number</label>
        <input type="tel" class="form-control" id="phonesignup" placeholder="Phone number">

      </div>

      <div class="form-group">

        <label for="postalcodesignup">Postal code</label>
        <input type="text" class="form-control" id="postalcodesignup" placeholder="Postal code" maxlength="7">

      </div>

      <div class="form-group">

        <label for="orgsignup">Organization</label>
        <input type="text" class="form-control" id="orgsignup" placeholder="Organization" required>

      </div>

      <div class="form-group">

        <label for="experiencesignup">Experience</label>
        <select class="for-control">
          <option>Novice recreational observer</option>
          <option>Experienced recreational observer</option>
          <option>Ecotourism professional</option>
          <option>Other marine professional</option>
          <option>Researcher</option>
          <option>Lightstation keeper</option>
        </select>

      </div>

      <div class="form-group">

        <label for="reasononwatersignup">Reason you're on the water</label>
        <select class="for-control">
          <option>Recreational</option>
          <option>Professional</option>
        </select>

      </div>

      <div class="form-group">

      <label for="seasonssignup">Season(s) you're on the water</label>

      </div>

      <div>

      <label class="checkbox-inline">
      <input type="checkbox" id="springsignup" value="spring"> Spring
      </label>
      <label class="checkbox-inline">
      <input type="checkbox" id="summersignup" value="summer"> Summer
      </label>
      <label class="checkbox-inline">
      <input type="checkbox" id="fallsignup" value="fall"> Fall
      </label>
      <label class="checkbox-inline">
      <input type="checkbox" id="wintersignup" value="winter"> Winter
      </label>

      </div>

      <div class="form-group">

        <label for="howheardsignup">How did you hear about the Sightings Network?</label>
        <select class="for-control">
          <option>Wild Whales website</option>
          <option>Sightings Network poster</option>
          <option>Sightings Network brochure</option>
          <option>Word of mouth</option>
          <option>Sightings Network presentation or outreach event</option>
          <option>Visiting the Vancouver Aquarium</option>
          <option>Other media (Newspaper, television etc.)</option>
          <option>Other</option>
        </select>

      </div>

      <div class="form-group">
   
        <label for="passwordsignup">Password</label>
        <input type="password" class="form-control" id="passwordsignup" placeholder="Password" required>
  
      </div>

        <button type="button" class="btn btn-primary">Save</button>

      </form>

      <br>

      </div>